# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Mount Scraper files
mount_scraper/Lib/
mount_scraper/Scripts/
mount_scraper/freeformatter-out.html
mount_scraper/pyvenv.cfg
mount_scraper/wowhead.html